body{
  background-color: #664232;
  color: white;
  font-family: "open sans";
}

.header{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav{
  background-color: white;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.nav a{
  text-transform: capitalize;
  color: #664232;
}

.nav a:hover{
  border: none;
}

.nav-link active{
  background-color: #F78E7B;
  font-weight: bold;
}

p{
  text-align: center;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
  font-weight: normal;
  font-family: "Arima Madurai", "open sans", sans-serif;
}

h1{
  color: ;
}

a{
  text-align: center;
  color: #F78E7B;
  font-weight: 500;
  font-size: 18px;
}

a:hover{
  color: #F78E7B;
  text-decoration: none;
}

.button{
  background-color: #F78E7B;
  color: white;
  border: 1px solid white;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 18px;
}

.caramel{
  text-transform: uppercase;
}

.img-responsive{
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.logo{
  width: 200px;
}

.btn btn-primary{
  color: white;
  background-color: #F78E7B;
}

.btn:hover{
  color: #664232;
}

#cupcakeofmonth{
  background-color: #F78E7B;
  padding-bottom: 10px;
  padding-top: 20px;
  margin-bottom: 25px;
}

#cupcakeofmonth p{
  text-align: center;
  font-size: 18px;
}

#cupcakeofmonth h1, h3{
  font-weight: bold;
}

#browsetreats{
  padding-bottom:
    50px;
}

.jumbotron{
 background-image: url(https://i.postimg.cc/qvv2Bss0/cookiesandcupcakes-photo-for-desktop-site2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #664232;
  border-bottom: 3px solid #F78E7B;
  height: 800px;

}

.lead{
  font-size: 28px;
  font-weight: 400;
}

.mailinglist{
  background-color: #F78E7B;
  padding-top: 25px;
  padding-bottom: 25px;
}

.form-control{
  width: 500px;
  margin: 0 auto;
}

.form-text{
  text-align: center;
}

.submit{
  margin: 0 auto;
}

.text-muted {
    color: #fff !important;
}

footer{
  padding: 35px;
}


footer dt {
  float:left;
  width:50%;
}

.footer-headline{
  text-align: left;
  padding-bottom: 10px;
  padding-top: 20px;
}

.copyright{
  margin: 0 auto -40px;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
}

ul{
  list-style: none;
}

.fa{
  padding-right: 20px;
}

.social{
  margin-bottom: 20px;
}
